<a href="https://colab.research.google.com/github/Bellrain/self_study/blob/main/data_engineering_day2_JSON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#데이터를 수집하는 방법

##JSON 
JavaScript Object Notation
    ex) {"name" : "혼자 공부하는 데이터 분석"}

딕셔너리와 리스트를 중첩해놓은것과 비슷함

In [2]:
d = {"name": "혼자 공부하는 데이터 분석"}
print(d['name'])

혼자 공부하는 데이터 분석

파이썬 객체를  JSON 문자열로 변환하기: json.dumps()함수

In [3]:
import json
d_str = json.dumps(d, ensure_ascii=False)# ensure_ascii=False 한국어 포함시

In [5]:
d_str
print(type(d_str))

<class 'str'>

웹 기반 API는 전송하려는 파이썬 객체를 위와 같은방법으로 문자열로 변환하여 전송함 

###json.loads() json객체를 파이썬 딕셔너리로 바꾸기

In [6]:
d2 = json.loads(d_str)
print(d2['name'])

혼자 공부하는 데이터 분석

In [7]:
print(type(d2))

<class 'dict'>

In [9]:
d3 = json.loads('{"name": "혼자 공부하는 데이터 분석", "author": "박해선", "year":2022}')
print(d3["name"])
print(d3["author"])
print(d3["year"])

혼자 공부하는 데이터 분석
박해선
2022

### json to pandas dataframe

In [17]:
d4_str ="""
[
  {"name": "혼자 공부하는 데이터 분석", "author": "박해선", "year": 2022},
  {"name": "혼자 공부하는 머신러닝 + 딥러닝", "author": "박해선", "year": 2020}
]
"""

d4 = json.loads(d4_str)

print(d4[0]["name"])

혼자 공부하는 데이터 분석

In [18]:
import pandas as pd
pd.read_json(d4_str)

                 name author  year
0      혼자 공부하는 데이터 분석    박해선  2022
1  혼자 공부하는 머신러닝 + 딥러닝    박해선  2020

In [ ]:
pd