# 이 도서가 얼마나 인기가 좋을까요?

data = https://www.data4library.kr/openDataV - 부산 금정도서관 장서 대출목록(2023년 02월)

In [10]:
#데이터 열기
with open ('부산광역시 금정도서관 장서 대출목록 (2023년 02월).csv', ) as f:
  print(f.readline())

UnicodeDecodeError: ignored

In [14]:
# 파일 인코딩 형식 확인하기
import chardet
with open ('부산광역시 금정도서관 장서 대출목록 (2023년 02월).csv', mode = 'rb') as f:
   d = f.readline()

print(chardet.detect(d))

{'encoding': 'EUC-KR', 'confidence': 0.99, 'language': 'Korean'}

In [16]:
with open ('부산광역시 금정도서관 장서 대출목록 (2023년 02월).csv', encoding='EUC-KR') as f:
  print(f.readline())
  print(f.readline())

번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자,

"1","언어가 숨어 있는 세계","한겨레출판","한겨레출판","2023","9791160409536","","","","","1","0","2023-02-28",

pandas 로 여는것이 훨씬 편리하나 아주 큰 파일을 열때는 오랜시간이 걸리거나 아예 열지못할 수도 있음.

## pandas 사용하기

In [17]:
import pandas as pd
df = pd.read_csv('부산광역시 금정도서관 장서 대출목록 (2023년 02월).csv', encoding='EUC-KR')

<ipython-input-17-bfa35a7f0da7>:2: DtypeWarning: Columns (5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('부산광역시 금정도서관 장서 대출목록 (2023년 02월).csv', encoding='EUC-KR')

In [18]:
df.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자,Unnamed: 13
0,1,언어가 숨어 있는 세계,한겨레출판,한겨레출판,2023,9791160409536,NaN,NaN,NaN,NaN,1,0,2023-02-28,NaN
1,2,더 좋은 삶을 위한 철학,김영사,김영사,2023,9788934965909,NaN,NaN,NaN,NaN,1,0,2023-02-28,NaN
2,3,밤새도록 뮤지컬,테오리아,테오리아,2023,9791187789406,NaN,NaN,NaN,NaN,1,0,2023-02-28,NaN
3,4,차를 타고 떠나는 차 여행,페이퍼버드,페이퍼버드,2023,9791164161461,NaN,NaN,NaN,NaN,1,0,2023-02-28,NaN
4,5,하루하루 가성비 수납정리,랭귀지북스,랭귀지북스,2022,9791156351955,NaN,NaN,NaN,NaN,1,0,2023-02-28,NaN

In [19]:
# 다시 csv 파일로 저장하는법
# df.to_csv('파일이름.csv')